
<table style="width:100%">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Country</th>
    <th>City</th>
    <th>Image</th>
  </tr>
  {{#events}}
  <tr>
    <td>{{title}}</td>
    <td>{{description}}</td>
     <td>{{Country}}</td>
    <td>{{City}}</td>
    <td type="image">{{Image}}</td>
  </tr>
    {{/events}}
</table>